## Python
# Python cache files
__pycache__

# Python environment
*/env
*/.pytest_cache

## Jenkins
ci_cd/jenkins-keys
ci_cd/jenkins-keys.pub
ci_cd/jenkins_home/caches

## Logging
logging/postgresql/pg_data

## RabbitMQ
queue/rmq_data/.bash_history
queue/rmq_data/.erlang.cookie